#about-title {
    font-size: 30px;
    font-family: 'Beth Ellen';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    background: linear-gradient(90deg, #28EED1 3.44%, rgba(29, 173, 231, 0) 105.09%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#about-paragraph {
    font-size: 15px;
    font-family: 'Beth Ellen';
    font-style: normal;
    text-align: center;
}